.gridHalleluja{
  display:grid;
  grid-template-rows: 10% 136px;
}
.gridHalleluja .test {
    background-color: #add8e6;
    border-top: #000000;
}
.gridHalleluja .smallerBox{
    background-color:#0080ff;
   
}
.gridHeaders{
  display:grid;
  grid-template-columns: 24% 1% 24% 1% 24% 1% 20%;

}

  .gridAdd {
    display: grid;
  
    grid-template-columns: 25% 25% 25% 25%;
    
  }

  .gridAdd .info {
    display: grid;
    grid-row-gap: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .gridAdd .atgard {
    display: grid;
    grid-row-gap: 3%;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  
  .gridAdd .resurs {
    display: grid;
    grid-row-gap: 3%;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  
  .gridAdd .avvikning {
    display: grid;
    grid-row-gap: 3%;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .gridAdd .gridInfo{
      display: grid;
      grid-template-rows: 10% 10% 10% 10%;
      grid-row-gap: 10px;
    
  }
  .gridAdd .gridAtgard{
    display: grid;
    grid-template-rows:10% 10% 10% 10% 10% 10%;
    grid-row-gap: 5px;
}
  .gridAdd .gridResurs{
    display: grid;
    grid-template-rows: 10% 10% 10% 10% 10%;
    grid-row-gap: 5px;
    
  }

  .gridAdd .gridAvvikning{
    display: grid;
    grid-template-rows: 10% 10% 10% 10%;
    grid-row-gap: 5px;
  }

.saveButton{
  position: absolute;
  left: 1390px;
  top: 215px;
}
.avbrytButton{
  position: absolute;
  left: 1330px;
  top: 215px;
}
hr.line1{
  position: relative;
  margin-top: 0px;
    width: 0px;
    height: 165px; 
    
}
.gridInfo input {
  clear: both;
  text-align: left;
  width: 100px;
}

 
  