.test {
    background-color: #add8e6;
  }
  
  .gridAdd {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 20% 20% 20% 20% 20% 20% ;
    
  }

  .gridAdd .info {
    display: grid;
    grid-row-gap: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .gridAdd .atgard {
    display: grid;
    grid-row-gap: 3%;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .gridAdd .resurs {
    display: grid;
    grid-row-gap: 3%;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .gridAdd .avvikning {
    display: grid;
    grid-row-gap: 3%;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .gridAdd .gridInfo{
      display: grid;
      grid-template-columns: 20% 14% 16%;
      grid-column-gap: 10px;
      
  }
  .gridAdd .gridAtgard{
    display: grid;
    grid-template-columns:13% 10% 10% 10% 10% 30%;
}
  .gridAdd .gridResurs{
    display: grid;
    grid-template-columns: 7% 8% 7% 7% 23%
  }

  .gridAdd .gridAvvikning{
    display: grid;
    grid-template-columns: 7% 9% 23%
  }

  .gridAtgard .textFields{
      display: grid;
      grid-template-columns: 66% 64%;
      align-items: 1px;
  }
  .broadTextField{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-template-columns: 36% 40%;
    align-items: 1px;
    
}
  .gridInfo .checkBox{
    display: grid;
    grid-template-columns: 40% 60%;
}
.gridAdd hr.line{
  margin-top: 10px;
  width: 100%;
  background-color:black;
  height: 3px;
}
.saveButton{
  position: absolute;
  left: 1332px;
  top: 640px;
}
.avbrytButton{
  position: absolute;
  left: 152px;
  top: 640px;
}
 
  