.test {
  background-color: blue;
}

.grid {
  display: grid;
  grid-template-columns: 70% 20%;
  grid-template-rows: 20% 60% 20%;
  grid-template-areas:
    "list upbutton"
    "list ."
    "list downbutton";
}

.list {
  grid-area: list;
}

.container {
  /* grid-column: 1/2;
 grid-row: 2/3;
  grid-row: 2/3;*/
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 33% 33% auto;
}

.container input {
  max-width: 150px;
}

.container #edit {
  /*grid-column-start: 5;*/
  font-size: 16px;
  border: none;
  color: white;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 15px;
  background-color: #314a94;
  border-style: solid;
  border-color: #131f42;
  border-width: 2px;
}

#edit:hover {
  background-color: #0f2154;
}

#edit:active {
  background-color: #0f2154;
  box-shadow: 0 0 5px 3px #666;
  transform: translateY(4px);
}

.container .info {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.container .atgard {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.container .resurs {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.container .avvikning {
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

/*TESTING FOR HEMBESOK SITE
JUST FOR SHOWING PO*/
/*
.containerTest {
   display: grid;
   grid-template-columns: 20% 20% 20% 20% 20%;
   grid-template-rows: 33% 33% auto;
   grid-row-gap: 10px;
 }
 
.containerTest input {
  max-width: 150px;
 
}

.containerTest #editTest {
  grid-column-start: 5;
  font-size: 16px;
  border: none;
  color: white;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 15px;
  background-color: #314a94;
  border-style: solid;
  border-color: #131f42;
  border-width: 2px;
}

#editTest:hover {
  background-color: #0f2154;
}

#editTest:active {
  background-color: #0f2154;
  box-shadow: 0 0 5px 3px #666;
  transform: translateY(4px);
}
.containerTest .infoTest {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;

 
}
*/
/*
.containerTest .atgardTest { */
/* grid-column-start: 2;*/
/*
 grid-row: 1/2;
  grid-column: 2/5;

  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 30% 25% 25% 25%;
  grid-template-rows: 50% 50%;

  padding-bottom: 6%;
}
*/
/*
.containerTest .resursTest {
  grid-row: 2/3;
  grid-column: 2/5;

  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 30% 25% 25% 25%;
  grid-template-rows: 30% 70%;

  padding-bottom: 3%;
}

.containerTest .avvikningTest {
  grid-row: 3/4;
  grid-column: 2/5;

  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: 50% 50%;

  padding-bottom: 2%;
}

.field{
  grid-row: 2/3;
  grid-column: 2/4;
}
*/
/*END OF TESTING VALUES*/

/*
.button{
  display: grid;
  grid-template-rows: auto auto auto;
}*/

.upButton {
  padding-top: 12px;
  grid-area: upbutton;
}

#arrowButton {
  font-size: 100px;
}
.downButton {
  grid-area: downbutton;
}

#item0 {
  box-shadow: 0 -6px 10px -5px rgba(0, 0, 0, 0.7);
  background-color: #d9ddec;
  padding: 12px 7px 7px 7px;
  border-left: 5px solid royalblue;
  margin-top: 10px;
  border-bottom: 2px solid slategray;
}

#item1 {
  background-color: #e9ebf1;
  padding: 7px;
  border-left: 5px solid #2c4dad;
  border-bottom: 2px solid slategray;
}

#item2 {
  background-color: #d9ddec;
  padding: 7px 7px 12px 7px;
  border-left: 5px solid royalblue;
  margin-bottom: 10px;
  box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.7);
}

.protID {
  left: 83%;
  top: 2%;
  position: absolute;
}
