body {
  display: grid;
  grid-template-columns: 10% auto 10%;
}
.grid {
  display: grid;
  grid-template-columns: 70% 20%;
  grid-template-rows: 60% 60%;
}
.navigation {
  grid-column: 3;
  grid-row: 1 / 2;
  left: 85%;
  top: 35%;
  position: absolute;
}
#homeButton {
  left: 2%;
  top: 2%;
  position: absolute;
}
#root {
  grid-column-start: 2;
}

.hembesok {
  border-style: solid;

  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 33% 33% auto;
}

.hembesok input {
  max-width: 150px;
}

.hembesok .edit {
  grid-column-start: 5;
  font-size: 16px;
}

.hembesok .info {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.hembesok .atgard {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.hembesok .resurs {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.hembesok .avvikning {
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.hembesok input {
  margin-right: 20px;
  color: black;
}

.editHembesok {
  grid-column-start: 5;
  padding: 4px 16px;
  transition: all 2s;
}

.editHembesok:hover {
  background-color: rgb(241, 241, 121);
}
.hembesok input:hover {
  background-color: rgb(224, 232, 240);
}

.editSave {
  padding: 4px 16px;
  transition: all 2s;
}

.editSave:hover {
  background-color: rgb(96, 230, 96);
}
