#item0 {
  box-shadow: 0 -6px 10px -5px rgba(0, 0, 0, 0.7);
  background-color: #d9ddec;
  padding: 12px 7px 7px 7px;
  border-left: 5px solid royalblue;
  margin-top: 10px;
  border-bottom: 2px solid slategray;
}

#item1 {
  background-color: #e9ebf1;
  padding: 7px;
  border-left: 5px solid #2c4dad;
  border-bottom: 2px solid slategray;
}

#item2 {
  background-color: #d9ddec;
  padding: 7px 7px 12px 7px;
  border-left: 5px solid royalblue;
  margin-bottom: 10px;
  box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.7);
}
