.navigation {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 15% 15% 15% 15% 15%;
  grid-gap: 5px;
  left: 90%;
  top: 35%;
  position: absolute;
}
.inskrivningDiv {
  grid-area: 1;
}
.hembesokDiv {
  grid-area: 2;
}
.digitalVardDiv {
  grid-area: 2;
}
.mottagningDiv {
  grid-area: 3;
}
.aterlaggningDiv {
  grid-area: 4;
}

.navigationButton {
  min-width: fill;
  margin: 10px;
  height: 40px;
}
