.container {
    display: grid;
    grid-template-rows: 40% 60% 100px;
    grid-template-columns: 50% 50%;
}

#cancel {
    grid-row-start: 3;
    grid-column-start: 1;
}

#save {
    grid-row-start: 3;
    grid-column-start: 2;
}

.top {
    grid-row-start: 1;
    grid-column-start: 1;
}

.inskrivning {
    grid-row-start: 2;
    grid-column-start: 1;
}

.utskrivning {
    grid-row-start: 2;
    grid-column-start: 2;
}





