.navigation {
    grid-column: 3;
    grid-row: 1 / 2;
    left: 85%;
    top: 35%;
    position: absolute;
  
  }
  #homeButton {
    left: 2%;
    top: 2%;
    position: absolute;
}

/*
.header {
 
}
*/

 /* grid-template-areas: 'registration registration discharge'
                       'registration registration discharge'
                       'registration registration discharge';*/


/*
.form .header{
  display: grid;
  grid-template-columns: 15% 30% 15% 30%;
  grid-column-gap: 1%;
  grid-row-start: 1;

}
*/

/*
.form .registration{
  grid-column-start: 1;
  grid-row-start: 2;

  display: grid;
  grid-template-rows: 20% 40% 40%;
  grid-template-columns: 50% 50%;
  /*grid-template-areas: 'protokollID   inskrivning'
                       'bakgrundsdata inskrivning'
                       'bottom        bottom';
}*/




/*.form .bakgrundsdata{
  grid-column-start: 2;
}*/
/*
#bakgrundsdata{
  grid-column-start: 2;
}
*/

.form {
  margin-top: 5%;
  margin-bottom: 5%;

}

.form {
  display: grid;
  grid-template-columns:  auto 30% 30%;
  grid-template-rows: 25% auto auto;
}

.form .protokollID{
  grid-column-start: 1;
  grid-column-end: 1;
}

.form .bakgrundsdata{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.form .inskrivning{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
}

.form .bottom  {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
 }

 .form .discharge{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}
/*



.form .bakgrundsdata{
  grid-column-start: 1;  
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

*/
/*
*/
